.ProductsByCategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
}

.ProductsByCategory_title{
    font-size: xx-large;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

@media(max-width: 1120px){
    .ProductsByCategory{
        width: 450px;
    } 
}

@media(max-width: 600px){
    .ProductsByCategory{
        width: 370px;
    } 
}